@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; /* Base móvil */
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
}

button {
  @apply text-sm font-medium rounded-lg px-4 py-2 bg-blue-500 text-white;
}

.container {
  @apply mx-auto px-4; /* CONTENEDORES PARA EL MOBILE-FIRST APPLICATION */ 

  /* ⬆️ REALMENTE NO ES TAN BUENO, PERO TE SACA DE UN APURO PARA ACOMDDAR Y CENTRAR ALGO RAPIDO PARA FACILIDAD*/
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 50;
}

.modal-content {
  background: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  max-width: 24rem;
  margin: auto;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.5s ease-out forwards;
}

